@model RestaurantChainManagement.ViewModels.CountryViewModel
@{
    ViewData["Title"] = "Create Country";
}
<h1>Create Country</h1>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="CountryName"></label>
        <input asp-for="CountryName" class="form-control" />
        <span asp-validation-for="CountryName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FlagPath">Flag Image Path</label>
        <input asp-for="FlagPath" class="form-control" />
        <span asp-validation-for="FlagPath" class="text-danger"></span>
    </div>
    <hr />
    <h3>States and Cities</h3>
    @for (int i = 0; i < Model.States.Count; i++)
    {
        <div class="border p-3 mb-3">
            <h4>State @(i + 1)</h4>
            <div class="form-group">
                <label asp-for="States[@i].StateName"></label>
                <input asp-for="States[@i].StateName" class="form-control" />
                <span asp-validation-for="States[@i].StateName" class="text-danger"></span>
            </div>
            <h5>Cities</h5>
            @for (int j = 0; j < Model.States[i].Cities.Count; j++)
            {
                <div class="form-group">
                    <label asp-for="States[@i].Cities[@j].CityName"></label>
                    <input asp-for="States[@i].Cities[@j].CityName" class="form-control" />
                    <span asp-validation-for="States[@i].Cities[@j].CityName" class="text-danger"></span>
                </div>
            }
        </div>
    }
    <button type="submit" class="btn btn-primary">Create</button>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
